{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/kb-logo.png' %}">
        <title>KAMAL BAGS</title>
        <link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
        <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}">
        <!-- Custom CSS -->
        <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
        <link rel="manifest" crossorigin="use-credentials" href="{% static 'manifest/manifest.json' %}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            display: none;
        }

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: black;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            display: none;
        }

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: black;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }
    </style>

    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div id="cover-spin"></div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        <a class="navbar-brand d-block d-md-none" href="">
                            <!-- Logo icon -->
                            <b class="logo-icon">
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <!-- <img src="{% static 'images/kb-logo.png' %}" alt="homepage" class="dark-logo" height="70" width="70" /> -->
                                <!-- Light Logo icon -->
                                <!-- <img src="{% static 'images/kb-logo.png' %}" alt="homepage" class="light-logo" height="70" width="70" /> -->
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="{% static 'images/kb-logo.png' %}" alt="homepage" class="dark-logo" height="70" width="70" />
                                <!-- Light Logo text -->
                                <img src="{% static 'images/kb-logo.png' %}" class="light-logo" alt="homepage" height="70" width="70" />
                            </span>
                        </a>
                        <div class="d-none d-md-block text-center">
                            <a class="sidebartoggler waves-effect waves-light d-flex align-items-center side-start" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu"></i>
                                <span class="navigation-text ml-3">Navigation</span>
                            </a>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Toggle which is visible on mobile only -->
                        <!-- ============================================================== -->
                        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav float-left mr-auto">
                            <!-- ============================================================== -->
                            <!-- Logo -->
                            <!-- ============================================================== -->
                            <li class="nav-item border-right">
                                <a class="nav-link navbar-brand d-none d-md-block" href="">
                                    <!-- Logo icon -->
                                    <b class="logo-icon">
                                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                        <!-- Dark Logo icon -->
                                        <img src="{% static 'images/kb-logo.png' %}" alt="homepage" class="dark-logo" height="70" width="70" />
                                        <!-- Light Logo icon -->
                                        <img src="{% static 'images/kb-logo.png' %}" alt="homepage" class="light-logo" height="70" width="70" />
                                    </b>
                                    <!--End Logo icon -->
                                    <!-- Logo text -->
                                    <span class="logo-text">
                                        <!-- dark Logo text -->
                                        <!-- <img src="{% static 'images/white.png' %}" alt="homepage" class="dark-logo"
                                        height="50" width="200" /> -->
                                        <!-- Light Logo text -->
                                        <!-- <img src="{% static 'images/white.png' %}" class="light-logo" alt="homepage"
                                        height="50" width="200" /> -->
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- ============================================================== -->
                        <!-- Right side toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav float-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{% static 'assets/images/users/9.jpg' %}" alt="user" class="rounded-circle" width="31"> {% if request.user.first_name %} <span class="ml-2 user-text font-medium">{{request.user.first_name}}</span><span class="fas fa-angle-down ml-2 user-text"></span> {% else %} <span class="ml-2 user-text font-medium">{{request.user.username}}</span><span class="fas fa-angle-down ml-2 user-text"></span> {% endif %} </a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                    <a class="dropdown-item" href="{% url 'user_logout' %}" class="fa fa-power-off mr-1 ml-1"></i> Logout</a>
                                </div>
                            </li>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- ============================================================== -->
            <!-- End Topbar header -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'sales_entry_page' %}" aria-expanded="false"><i class="fas fa-home"></i><span class="hide-menu">Home</span></a></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'sales_report_page' %}" aria-expanded="false"><i class="fas fa-address-card"></i><span class="hide-menu"> Reports</span></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-content container-fluid"> 
                    {% block content %} 
                    {% endblock %} 
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <!-- <footer class="footer text-center"> All Rights Reserved by Idearise. Designed and Developed by <a href="https://idearise.co">Idearise Technology</a>. </footer> -->
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- customizer Panel -->
        <!-- ============================================================== -->
        <div class="chat-windows"></div>
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- apps -->
        <script src="{% static 'dist/js/app.min.js' %}"></script>
        <script src="{% static 'dist/js/app.init.mini-sidebar.js' %}"></script>
        <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
        <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
        <!--Wave Effects -->
        <script src="{% static 'dist/js/waves.js' %}"></script>
        <!--Menu sidebar -->
        <script src="{% static '/dist/js/sidebarmenu.js' %}"></script>
        <!--Custom JavaScript -->
        <script src="{% static 'dist/js/custom.min.js' %}"></script>
        <script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
        <script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
        <script src="{% static 'dist/js/pages/forms/select2/select2.init.js' %}"></script>
    </body>

</html>