{% extends "base.html" %}
{% load static %}
{% block breadcrumb %} 
<h5 class="text-primary mb-0" style="font-weight: bold;">Reports</h5> 
{% endblock breadcrumb %} 
{% block content %} 
{% for message in messages %} 
<p class="text-danger text-center" id="messages">{{message}}</p>
{% endfor %}
<form action="" method="get">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="price">Select Date</label>
                <input type="date" class="form-control" name="selling_date" value="{{selling_date|default_if_none:''}}">
            </div>
        </div>
        <div class="col mt-2">
            <br>
            <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    <strong class="text-danger">Total Sale: {{this_day_total_sale}} | Total Online: {{this_day_total_sale_in_online}} | Total Cash: {{this_day_total_sale_in_cash}}</strong>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for each_sell in sales_data %}
                <tr>
                    <td>{{each_sell.product_name}}</td>
                    <td>{{each_sell.quantity}}</td>
                    <td>{{each_sell.payment_type}}</td>
                    <td>{{each_sell.price}}</td>
                    <td>{{each_sell.total_price}}</td>
                    <td><a href="{{each_sell.image}}" target="_blank"><img src="{{each_sell.image}}" alt="" height="50" width="50"></a></td>
                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
  </div>
</div>
    
</div>


{% endblock %}